In [1]:
import pandas as pd
import numpy as np

In [6]:
filepathjan = 'Resources/JC-202001-citibike-tripdata.csv'
filepathfeb = 'Resources/JC-202002-citibike-tripdata.csv'
filepathmar = 'Resources/JC-202003-citibike-tripdata.csv'
filepathapr = 'Resources/JC-202004-citibike-tripdata.csv'
filepathmay = 'Resources/JC-202005-citibike-tripdata.csv'
filepathjun = 'Resources/JC-202006-citibike-tripdata.csv'
filepathjul = 'Resources/JC-202007-citibike-tripdata.csv'
filepathaug = 'Resources/JC-202008-citibike-tripdata.csv'
filepathsep = 'Resources/JC-202009-citibike-tripdata.csv'
filepathoct = 'Resources/JC-202010-citibike-tripdata.csv'
filepathnov = 'Resources/JC-202011-citibike-tripdata.csv'
filepathdec = 'Resources/JC-202012-citibike-tripdata.csv'


jan_df = pd.read_csv(filepathjan)
feb_df = pd.read_csv(filepathfeb)
mar_df = pd.read_csv(filepathmar)
apr_df = pd.read_csv(filepathapr)
may_df = pd.read_csv(filepathmay)
jun_df = pd.read_csv(filepathjun)
jul_df = pd.read_csv(filepathjul)
aug_df = pd.read_csv(filepathaug)
sep_df = pd.read_csv(filepathsep)
oct_df = pd.read_csv(filepathoct)
nov_df = pd.read_csv(filepathnov)
dec_df = pd.read_csv(filepathdec)

In [25]:
df = pd.merge(
    jan_df,feb_df, on = "bikeid", how = "outer")

clean_df = df[['starttime_x', 'starttime_y','bikeid']]


clean_df.head()

                starttime_x starttime_y  bikeid
0  2020-01-01 00:04:50.1920         NaN   29444
1  2020-01-01 03:38:23.0290         NaN   29444
2  2020-01-01 10:29:10.7700         NaN   29444
3  2020-01-01 11:45:22.8200         NaN   29444
4  2020-01-02 04:46:52.4740         NaN   29444

In [66]:
merge_1 = pd.merge(
    jan_df,feb_df, on = ["starttime","bikeid"], how = "outer")
merge_2 = pd.merge(
    merge_1,mar_df, on = ["starttime","bikeid"], how = "outer")
merge_3 = pd.merge(
    merge_2,apr_df, on = ["starttime","bikeid"], how = "outer")
merge_4 = pd.merge(
    merge_3,may_df, on = ["starttime","bikeid"], how = "outer")
merge_5 = pd.merge(
    merge_4,jun_df, on = ["starttime","bikeid"], how = "outer")
merge_6 = pd.merge(
    merge_5,jul_df, on = ["starttime","bikeid"], how = "outer")
merge_7 = pd.merge(
    merge_6,aug_df, on = ["starttime","bikeid"], how = "outer")
merge_8 = pd.merge(
    merge_7,sep_df, on = ["starttime","bikeid"], how = "outer")
merge_9 = pd.merge(
    merge_8,oct_df, on = ["starttime","bikeid"], how = "outer")
merge_10 = pd.merge(
    merge_9,nov_df, on = ["starttime","bikeid"], how = "outer")
merge_11 = pd.merge(
    merge_10,dec_df, on = ["starttime","bikeid"], how = "outer")



clean_2_series = test_df.loc[:,['starttime','bikeid']]
clean_2_series.loc[clean_2_series['bikeid'] == '']

hello

In [83]:
bike_count_df = merge_11.loc[:,['starttime','bikeid']]
bike_count_df.loc[bike_count_df['bikeid'] == 42528]

                       starttime  bikeid
33288   2020-02-10 11:19:50.6910   42528
33597   2020-02-10 23:27:37.9530   42528
33599   2020-02-10 23:34:46.7240   42528
33603   2020-02-10 23:58:49.5530   42528
33606   2020-02-11 00:45:28.2200   42528
...                          ...     ...
319934  2020-12-20 16:41:41.5970   42528
321313  2020-12-24 19:39:59.4340   42528
321579  2020-12-26 15:21:15.0350   42528
321588  2020-12-26 15:36:08.7820   42528
321609  2020-12-26 16:47:14.7800   42528

[585 rows x 2 columns]

In [73]:
merge_11.dtypes

tripduration_x             float64
starttime                   object
stoptime_x                  object
start station id_x         float64
start station name_x        object
                            ...
end station latitude_y     float64
end station longitude_y    float64
usertype_y                  object
birth year_y               float64
gender_y                   float64
Length: 158, dtype: object